<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Symbol:</b>
  <%= @company.symbol %>
</p>

<p>
  <b>Price:</b>
  <%= @company.price %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
